.header {
  @apply top-0 px-5 flex bg-green-500 w-full uppercase fixed tracking-tighter z-50;

  & > div {
    @apply flex-1;
  }
  h2 {
    font-size: 3vw;
  }
}

.logo-big {
  @apply text-left w-full;
  height: 5vh;
}

@media (max-width: 450px) {
  @apply flex-wrap;
  .header {
    h2 {
      font-size: 5vw;
    }
  }
}
