.what {
  @apply flex px-5;

  & > div {
    @apply w-1/2;
  }

  .is-scrolled {
    margin-top: 10vh;
    max-height: 100vh !important;

    li > h2 {
      @apply pb-10 uppercase;
    }

    li:nth-of-type(1n+2) {
      h2 {
        @apply pt-16;
      }
    }
    
    li > p {
      @apply pb-10;

      &:nth-last-of-type(1) {
        @apply pb-20;
      }
    }
  }

  .letter-spacing-small {
    line-height: 6vw !important;
  }
    
  .list-group-item {
    border-bottom: 1px solid #fff !important;
    
    &:last-child {
      border-bottom: 1px transparent !important;
    }
  }
}

@media (max-width: 1250px) {
}

@media (max-width: 850px) {
  .what {
    .is-scrolled {
      margin-top: 0;
      max-height: calc(100vh - 6rem);

      .serif {
        font-size: 3vw;
      }

      .p-5 {
        padding: 1.5rem !important;
      }
    }
  }
}

@media (max-width: 450px) {
  .what {
    & > div {
      @apply w-full flex-wrap;
    }

    margin-top: 5vh !important;
    display: block !important;
    flex-wrap: wrap !important;

    .is-scrolled {
      margin-top: 7vw;
      max-height: calc(100vh - 8rem);

      .serif {
        font-size: 5.5vw;
        text-align: center;
        
        &.m-10 {
          margin: .5rem !important;
        }
      }
    }
  }
}
